<ion-header>
    <ion-navbar>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Announcements</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content padding>

    <h1>Welcome Meneer {{global.mySurname}}</h1>
    <ion-card>
        <ion-card-header>
        </ion-card-header>
        <ion-card-content text-wrap>
            <ion-item>
                <img item-start class="cardImage" src="../../assets/imgs/Garri Baldi.png" />
                <p><i>{{votd.text}}</i>
                    <br />- {{votd.reference}}
                    <br />
                    {{votdRef}}
                </p>                
            </ion-item>
        </ion-card-content>
    </ion-card>

    <form *ngIf="global.isHK" (submit)="addAnnouncement(newAnn.value)" [formGroup]="newAnn">
        <ion-item>
            <h2>Post New Announcement!</h2>
        </ion-item>
        <ion-item> 
            <ion-label floating>Enter Title...</ion-label>
            <ion-input formControlName="title" type="text"></ion-input>        
        </ion-item>
        <ion-item> 
            <ion-label floating>Enter text...</ion-label>
            <ion-textarea formControlName="message" type="text"></ion-textarea>        
        </ion-item>
        <button ion-button outline round type="submit" block>submit</button>
    </form>

    <ion-list>
        <ion-card class="announcement card" *ngFor="let announcement of announcements" color="primary">
        <ion-card-header>  
            <ion-item color="primary">
                <ion-label item-start><h1>{{announcement.title}}</h1></ion-label>
            </ion-item>              
        </ion-card-header>
        <ion-card-content>   
            <ion-item color="primary">          
                <p>{{announcement.date}}</p> 
                <p>{{announcement.postedBy}}</p>  
            </ion-item>
            <ion-item>
                    <div [innerHTML]="announcement.message"></div>                     
            </ion-item>             
        </ion-card-content>
        </ion-card>
    </ion-list>

    <div padding>

    </div>


    </ion-content>
      